@model NEWLIBRARY.Models.STUDENTS



@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>ViewBag.Title </title>

    <!-- Bootstrap CSS -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/NiceAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="~/NiceAdmin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/NiceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/NiceAdmin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/NiceAdmin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/NiceAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/NiceAdmin/css/owl.carousel.css" type="text/css">
    <link href="~/NiceAdmin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/NiceAdmin/css/fullcalendar.css">
    <link href="~/NiceAdmin/css/widgets.css" rel="stylesheet">
    <link href="~/NiceAdmin/css/style.css" rel="stylesheet">
    <link href="~/SEGUNview/assets/css/mysty.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/style-responsive.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/NiceAdmin/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- =======================================================
    Theme Name: NiceAdmin
    Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body class="login-img3-body">

    <div class="container">


        <div class="login-form">
            @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)

                <div class="login-wrap">

                    <p class="login-img"><i class="icon_lock_alt"></i></p>


                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        <input type="text" class="form-control" name="matricNumber" id="matricNumber" placeholder="Matric Number" autofocus>@ViewBag.matri
                    </div>


                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password">

                        @Html.ValidationMessageFor(model => model.ST_Password) @ViewBag.passer
                    </div>

                    <label class="checkbox">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                    @*<button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>*@

                    @ViewBag.loginerror
                </div>
            }

        </div>


    </div>


</body>




</html>







