@model NEWLIBRARY.Models.STUDENTS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Sheared/ADminEdit_LayOut.cshtml";
}





<div class="container">

    @using (Html.BeginForm("edit", "STUDENTS", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        
        <div class="pricing">
            <div class="box featured">


                <div class="text-center form-ro ">
                    <h2>EDIT @Model.FirstName @Model.LastName DATA</h2>
                </div>


                <div class="form-row form-ro ">




                    <div class="form-group col-md-8">
                        <div class="pricing">

                            <div class="box featured">


                                @*first and last name*@
                                <div class="form-row form-ro ">


                                    <div class="form-group col-md-6">
                                        <label for="FirstName">@Html.DisplayNameFor(model => model.FirstName):</label>
                                        <input type="text" class="form-control" value=@Model.FirstName placeholder="Enter First NAME" name="FirstName">

                                        @*@Html.EditorFor(model => model.FirstName)*@
                                        <div class="validate">@Html.ValidationMessageFor(model => model.FirstName)</div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="LastName">@Html.DisplayNameFor(model => model.LastName):</label>
                                        <input type="text" class="form-control" value=@Model.LastName  placeholder="Enter Last NAME" name="LastName">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.LastName)</div>
                                    </div>


                                </div>


                                @*Matric Number and department*@
                                <div class="form-row form-ro ">


                                    <div class="form-group col-md-6">
                                        <label for="DEPARTMENT">@Html.DisplayNameFor(model => model.DEPARTMENT):</label>
                                        <input type="text" class="form-control" value=@Model.DEPARTMENT  placeholder="Enter DEPARTMENT NAME" name="DEPARTMENT">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.DEPARTMENT)</div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="MatricNumber">@Html.DisplayNameFor(model => model.MatricNumber):</label>
                                        <input type="text" class="form-control" value=@Model.MatricNumber placeholder="Enter Matric Number " name="MatricNumber">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.MatricNumber)</div>
                                    </div>


                                </div>


                                @*Phone and Email *@
                                <div class="form-row form-ro ">


                                    <div class="form-group col-md-6">
                                        <label for="ST_Email">@Html.DisplayNameFor(model => model.ST_Email):</label>
                                        <input type="text" class="form-control" value=@Model.ST_Email placeholder="Enter Email" name="ST_Email">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.ST_Email)</div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="Phone">@Html.DisplayNameFor(model => model.Phone):</label>
                                        <input type="text" class="form-control" value=@Model.Phone placeholder="Enter Phone number" name="Phone">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.Phone)</div>
                                    </div>


                                </div>



                                @*ClassLevel and Password *@
                                <div class="form-row form-ro ">


                                    <div class="form-group col-md-6">
                                        <label for="ClassLevel">@Html.DisplayNameFor(model => model.ClassLevel):</label>
                                        <input type="text" class="form-control" value=@Model.ClassLevel placeholder="Enter Class Level" name="ClassLevel">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.ClassLevel)</div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="ST_Password">@Html.DisplayNameFor(model => model.ST_Password):</label>
                                        <input type="Password" class="form-control" value=@Model.ST_Password placeholder="Enter Password" name="ST_Password">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.ST_Password)</div>
                                    </div>


                                </div>




                                @*DOB and Sex *@
                                <div class="form-row form-ro ">


                                    <div class="form-group col-md-6">
                                        <label for="Sex">@Html.DisplayNameFor(model => model.Sex):</label>
                                        <input type="text" value=@Model.Sex  class="form-control" placeholder="Enter Sex" name="Sex">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.Sex)</div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="DateOfBirth">@Html.DisplayNameFor(model => model.DateOfBirth):</label>
                                        <input type="text" value=@Model.DateOfBirth  class="form-control" placeholder="Enter DOB" name="DateOfBirth">
                                        <div class="validate">@Html.ValidationMessageFor(model => model.DateOfBirth)</div>
                                    </div>


                                </div>




                            </div>

                        </div>


                    </div>










                    <div class="form-group col-md-4">
                        <div class="pricing heig">

                            <div class="box featured">

                                <div class="form-row ">




                                    <div class="form-group col-md-12 form-ro">
                                        <label for="file">@Html.DisplayNameFor(model => model.imgFile):</label>
                                        <input type="file" value= @ViewBag.ima name="imgFile">
                                        <div class="validate h6">@Html.ValidationMessageFor(model => model.imgFile)</div>
                                    </div>






                                </div>







                            </div>
                        </div>
                    </div>






                </div>


                <div class="text-center form-ro ">
                    <button type="submit">SUBMIT</button>

                </div>


            </div>
        </div>
 
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>









